
footer{
  background: rgb(242,242,242); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(242,242,242,1) 27%, rgba(255,255,255,1) 68%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 27%,rgba(255,255,255,1) 68%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(242,242,242,1) 27%,rgba(255,255,255,1) 68%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-top: 2px solid gray;
  padding: 28px 0px;
  display: flex;
  justify-content: space-between;
  @include respond-to(small){
    display: block;
    padding: 0px;
    background: white;
  }
  .testimonials{
    @include respond-to(small){
      display: none;
    }
  }
  .footer-nav{
    @include respond-to(small){
      a.mobile-only{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 5%;
        font-size: 25px;
        color:$lightblue;
      }
      ul.active a.mobile-only{
        -webkit-transform: rotate(35deg);
        -moz-transform: rotate(35deg);
        -o-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
        transform: rotate(35deg);
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 5%;
        font-size: 25px;
        color:$darkestgray;
      }
    }
  }
  h4{
    color:$lightblue;
    font-size:27px;
    font-family: $title;
    margin-bottom: 10px;
    @include respond-to(small){
      padding: 15px 0px;
    }
  }
  a{
    color: #000;
    &:hover{
      color:$darkestgray;
    }
  }
  ul, ul.expandable {
    line-height: 24px;
    font-size: 13px;
    text-transform: uppercase;
    text-align: left;
    @include respond-to(small){
      font-size: 20px;
      padding: 0px;
    }
    @include respond-to(small){
      &.active li{
        padding: 10px 0px;
        text-align:center;
        border-top: 1px solid #d3d3d3;
        background-color: #f2f2f2;
        display: block;
        transition: font-size .25s;
        transition: padding .5s;
        height: auto;
        font-size: 20px;
      }
      li{
        height: 0px;
        padding: 0px 0px;
        font-size: 0px;
        transition: font-size .25s;
        transition: padding .5s;
      }
    }
    .footer-nav ul{
      display: inline-block;
    }
  }

  .footer-nav:nth-child(4) ul li,.footer-nav:nth-child(5) ul li{
    @include respond-to(small){
      padding: 10px 0px;
      text-align:left;
      border-top: none;
      background-color: #fff;
    }
  }
  form{
    @include respond-to(small){
      margin: auto 0;
      input{
        width: 69%;
      }
      button{
        width: 20%;
      }
    }
  }






  .footer-nav {
    @include respond-to(small){
      position: relative;

    }
    vertical-align: top;
    .social-media{
      display: flex;
      justify-content: space-between;
      li{
        display: inline-block;
      }
    }
    p{
      @include respond-to(small){
        max-width: 100%;
      }
      max-width: 267px;
    }
  }
}

.left-bottom-footer{
  line-height: 31px;
  color:lightgray;
  font-size:15px;
  P{margin-top: 0px; text-align: left}
  a{color:lightgray; vertical-align: top;}
  ul{
    text-align: left;
    @include respond-to(small){text-align: center}
  }
  li{
    display: inline-block;
  }
}
