.featured-area{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    @include respond-to(small){
      display: block;
      width: 100%;
    }

.featured-block{
  p{
    font-family:$signiture;
    font-size: 23px;
  }
}
}
.product{
  font-family: $title;
  font-size: 14px;
  width: 24%;
  text-align: center;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  @include respond-to(small){
    padding: 20px 0px;
    display: block;
    width: 100%;
  };
  &:first-child:not(.related){
  margin-top:20px;
  font-size:24px;
  font-family: $cursive;
  p{margin: 24px auto;
  }
}
  .summary{
    position: absolute;
    font-family: $cursive;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    vertical-align: middle;
    padding: 80px 15px;
    opacity: 0;
    background-color: $lightblue;
    -webkit-transition: opacity 2s; /* Safari */
    transition: opacity 2s;
    @include respond-to(small){
      display: none;
    }
    &:hover {
        opacity: 1;
        -webkit-transition: opacity 1s; /* Safari */
        transition: opacity 1s;
    }
  }
  .product-img{
    position: relative;
    border:1px solid #e2e2e2;
    @include respond-to(small){
      border: none;
    }
    img{
      @include respond-to(small){
        border:1px solid #e2e2e2;
        width: 100%;
      }
    }
  }
  .product-img .details,
  .product  .product-img .summary{display: none;}
  h2{color: #7494b7; font-size: 36px}

  .title{ margin-top: 5px}
  .title, .author{ font-size: 14px}
  .price{font-weight: 800; font-size: 15px; margin-top: 5px;
  }
}




//-------------PRODUCT PAGE-------------------
body.product-page{
  .related{
    font-size: 25px;
    text-align: center;
  }
}

.two-column{
  @include respond-to(small){
    display: block;
  }
  display: flex;
  .description{ padding: 5%}
  .about-area{
    border-top: none;
    .product{
      width: auto
    }
  }
}
