$cursive: 'Allura', cursive;
$signiture: 'Alex Brush', cursive;
$title: 'Georgia';
$lightgray: #eee;
$darkgray: #f5f5f5;
$darkestgray: #565656;;
$offwhite: #FFFEFF;
$pink: #ffeaea;
$lightblue:#7494b7;
$breakpoints: (
    "small": 767px,
    "large": 768px
);
@mixin respond-to($break) {
  @if $break == large {
  @media (max-width: 1420px) { @content; }
  }
  @else if $break == small {
  @media (max-width: 767px) { @content; }
  } @else {
  @media screen and  ($break) { @content; }
  }
}

.btn{
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 1%, #ffeaea 53%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 1%,#ffeaea 53%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 1%,#ffeaea 53%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffeaea',GradientType=0 ); /* IE6-9 */
padding: 7px;
border: 1px solid lightgrey;
margin: 5px;
position: relative;
font-family: $title;
font-size: 13px;
&:hover{background: $pink;
font-weight: 800;
border: 1px solid $darkestgray;}
}
.btn:after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 1px solid $lightgray;
}

.signiture{
  font-size:24px;
  font-family: 'Alex Brush', cursive;
  display: block;
  text-align: right;
}

.titles{
  font-size:36px;
  font-family: $title;
}
